'use strict';

var React = require('react');
var DataGrid = require('react-datagrid');

var columns = [{ name: 'id', title: '#', width: 150 }, { name: 'firstName' }, { name: 'lastName' }, { name: 'city', width: 200 }, { name: 'country', width: 200 }, { name: 'email' }];

module.exports = React.createClass({
	displayName: 'exports',

	render: function render() {
		return React.createElement(DataGrid, {
			dataSource: 'http://5.101.99.47:8090/1000',
			idProperty: 'id',
			columns: columns,
			style: { height: 500 }
		});
	}
});