@import '~normalize.css/normalize.css'
@import '~stylus-normalizer/index.styl'

@import '~react-datagrid/style/index.styl'

html
body
#content
  width 100%
  min-height 100%
  position relative

html
body
#content
  display flex